## Exercise Description:

Following the class lesson and using the 'tips' dataset, perform the following tasks:

1. Load the dataset.
2. Observe the dataset.
3. Make a copy of dataset.
4. Drop the 'size' column by using the column name.
5. Drop the columns at index 2 and 4 using index key.
6. Drop the columns 'tip', 'sex', and 'smoker' using column names.
7. Using iloc[] method drop column 5.

### Load Dataset

### Observe the dataset.

### Make a copy of dataset.

### Drop the 'size' column by using the column name.

### Drop the columns at index 2 and 4 using index key.

### Drop the columns 'tip', 'sex', and 'smoker' using column names.

### Using iloc[] method drop column 5.

### Wrap Up

Good to have you complete this exercise. If you have any challenge reach me on [Data Science Arena](https://twitter.com/@xtian4zy). Also, tag me on twitter on @xtian4zy to a link to your solution and I'll check it out. 

Join our [Telegram group via](https://t.me/datasciencearena).